<div class="row page-titles mx-0">
  <div class="col-sm-6 p-md-0">
    <div class="welcome-text">
      <h4>Usuarios</h4>
      <p class="mb-1">nuevo registro</p>
    </div>
  </div>
  <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
    <!-- <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">Form</a></li>
      <li class="breadcrumb-item active"><a href="javascript:void(0)">Validation</a></li>
    </ol> -->
    <button *ngIf="viewType == 'edit'" (click)="deleteUser()" class="btn btn-danger btn-sl-sm mr-3"
      type="button"><span class="mr-2"><i class="fa fa-trash"></i></span>
      Eliminar</button>
    <button type="button" (click)="goBack()" class="btn btn-warning">{{'salir'}}</button>
  </div>
</div>
<form  [formGroup]="formUser">
  <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Foto</h4>
          </div>
          <div class="card-body">
            <div>
              <div class="d-flex justify-content-center mb-4">
                <img id="selectedAvatar"  src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                  class="rounded-circle" style="width: 100%; height: 100%; object-fit: cover;" alt="example placeholder" />
              </div>
              <div class="d-flex justify-content-center">
                <div class="btn btn-primary btn-rounded">
                  <label class="form-label text-white m-1" for="customFile2">Choose file</label>
                  <input type="file" class="form-control d-none" id="customFile2" onchange="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-lg-8">
      <div class="card ">
        <div class="card-header">
          <!-- <h4 class="card-title">Datos de Usuario</h4> -->
        </div>
        <div class="card-body">
                  <div class="py-1">
                    <h4 class="mb-3">Informacion Personal</h4>
                      <div class="row">
                        <div class="col">
                          <div class="row">

                            <div class="col">
                              <div class="form-group">
                                <label>CI</label>
                                <input class="form-control" type="text" name="CI" formControlName="CI" placeholder="12312313">
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Nombre</label>
                                <input class="form-control" type="text" name="name" formControlName="Name" placeholder="John Smith" value="John Smith">
                              </div>
                            </div>

                          </div>


                          <hr class="mb-4">
                          <h4 class="mb-3">Informacion de Usuario</h4>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Correo</label>
                                <input class="form-control" type="text" placeholder="user@example.com" formControlName="Email">
                              </div>
                            </div>
                            <div class="col">
                              <label>Estatus</label>
                              <select class="form-control" id="Status" name="Status" formControlName="Status">
                                <option value="">Please select</option>
                                <option value="1">Activo</option>
                                <option value="2">inactivo</option>
                              </select>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col mb-3">
                              <div class="form-group">
                                <label>Observaciones</label>
                                <textarea class="form-control" rows="5" placeholder="Observaciones" formControlName="Observation"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6 mb-3">
                          <div class="mb-2"><b>Change Password</b></div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Contraseña Actual</label>
                                <input class="form-control" type="password" placeholder="••••••" formControlName="Password">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Nueva Contraseña</label>
                                <input class="form-control" type="password" placeholder="••••••">
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Confirmar <span class="d-none d-xl-inline"> Contraseña</span></label>
                                <input class="form-control" type="password" placeholder="••••••">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                          <div class="mb-2"><b>Permisos</b></div>
                          <div class="row">
                            <div class="col">
                              <label>Acceso a modulos</label>
                              <div class="custom-controls-stacked px-2">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="notifications-blog" checked="">
                                  <label class="custom-control-label" for="notifications-blog">Pagos</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="notifications-news" checked="">
                                  <label class="custom-control-label" for="notifications-news">Estudiantes</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="notifications-offers" checked="">
                                  <label class="custom-control-label" for="notifications-offers">Usuarios</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col d-flex justify-content-end">
                          <button class="btn btn-primary" (click)="sendForm()">Save Changes</button>
                        </div>
                      </div>

                  </div>
        </div>
      </div>
    </div>
  </div>
</form>
