<!-- Pagos Mensuales -->
<div class="card">

  <div class="card-body" >
    <div  class="welcome-text">
      <h4>¡Bienvenido a TerraForm, tu sistema de gestión Academica!</h4>
      <!-- <p  class="mb-1">Estudiantes activos</p> -->
    </div>
    <p>
      Estamos emocionados de presentarte nuestra plataforma diseñada para hacer más eficiente y transparente el proceso de
      gestión Academica en tu institución. Con nuestro sistema, los estudiantes podrán gestionar su aprendizaje de manera más
      eficiente.
    </p>
    <p>
      Con TerraForm, los profesores pueden llevar un seguimiento detallado del estatus de cada estudiante, y los estudiantes
      pueden tener una visión clara del mismo. Nuestro objetivo es hacer que la vida en el instituto mas
      organizada y productiva para todos. ¡Esperamos que disfrutes de todas las ventajas que TerraForm tiene para ofrecer!
    </p>
  </div>
</div>
