<div class="row page-titles mx-0">
  <div class="col-sm-6 p-md-0">
    <div class="welcome-text">
      <h4>Estudiantes</h4>
      <p class="mb-1">nuevo registro</p>
    </div>
  </div>
  <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
    <!-- <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">Form</a></li>
      <li class="breadcrumb-item active"><a href="javascript:void(0)">Validation</a></li>
    </ol> -->
    <button *ngIf="viewType == 'edit'" (click)="deleteStudent()" class="btn btn-danger btn-sl-sm mr-3" type="button"><span class="mr-2"><i class="fa fa-trash"></i></span>
      Eliminar</button>
    <button type="button" (click)="goBack()" class="btn btn-warning" >{{'salir'}}</button>
  </div>
</div>
<form class="form-valide" [formGroup]="formStudent">
<div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Foto</h4>
        </div>
        <div class="card-body">
          <div>
            <div class="d-flex justify-content-center mb-4">

              <img id="selectedAvatar" [src]="imagePreview"
                class="rounded-circle" style="width: 20vw; height: 20vw; min-width: 200px; min-height: 200px; object-fit: cover;" alt="example placeholder" />
            </div>
            <div class="d-flex justify-content-center">
              <div class="btn btn-primary btn-rounded">
                <label class="form-label text-white m-1" for="customFile2">cargar archivo</label>
                <input type="file" class="form-control d-none" id="customFile2" (change)="onFileSelected($event)" />
              </div>
              <app-webcam-modal (imgReady)="onFileSelected($event)" ></app-webcam-modal>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Informacion Personal</h4>
        </div>
        <div class="card-body">
          <div class="form-validation">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="Name" >Nombre
                    <span class="text-danger">*</span>
                  </label>
                    <input type="text" class="form-control" id="Name" name="Name" formControlName="Name"
                      placeholder="Ingresa Nombre">
                    <div class="invalid-feedback">
                      {{ validatorOfInput('Name') }}
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group ">
                  <label  for="CI">CI
                  </label>
                    <input type="text" class="form-control" id="CI" name="CI" formControlName="CI"
                      placeholder="CI..">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                  <div class="form-group ">
                    <label for="Birthdate">Fecha de Nacimiento
                      <span class="text-danger">*</span>
                    </label>

                    <input type="date" class="form-control" id="Birthdate" name="Birthdate" placeholder=" dd/mm/yyyy"
                      formControlName="Birthdate">
                    <div class="invalid-feedback">
                      {{ validatorOfInput('Birthdate') }}
                    </div>
                  </div>
              </div>
              <div class="col">
                <div class="form-group ">
                  <label for="Gender">Genero
                    <span class="text-danger">*</span>
                  </label>

                    <select class="form-control" id="Gender" name="Gender" formControlName="Gender">
                      <option value="">Please select</option>
                      <option value="Masculino">Masculino</option>
                      <option value="Femenino">Femenino</option>
                    </select>
                    <div class="invalid-feedback">
                      {{ validatorOfInput('Gender') }}
                    </div>
                </div>
              </div>
            </div>
            <hr class="mb-4">
            <h4 class="mb-3">Informacion de Contacto</h4>
            <div class="row">
              <div class="col">
                  <div class="form-group ">
                    <label for="PhoneNumber">Telefono
                    </label>

                    <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" formControlName="PhoneNumber"
                      placeholder="..telefono!">

                  </div>
              </div>
            </div>
            <hr class="mb-4">
            <h4 class="mb-3">Informacion de Representante</h4>
            <div class="row">
              <div class="col">
                  <div class="form-group ">
                    <label for="LegalRepresentative">Representante Legal

                    </label>

                      <input type="LegalRepresentative" class="form-control" id="LegalRepresentative" name="LegalRepresentative"
                        formControlName="LegalRepresentative" placeholder="Representante.">

                  </div>
              </div>
              <div class="col">
                  <div class="form-group ">
                    <label  for="PhoneNumberLegalRepresentative">Telefono Representante Legal

                    </label>

                      <input type="PhoneNumberLegalRepresentative" class="form-control" id="PhoneNumberLegalRepresentative"
                        name="PhoneNumberLegalRepresentative" formControlName="PhoneNumberLegalRepresentative"
                        placeholder=" Telefono Representante.">

                  </div>
              </div>
            </div>
            <hr class="mb-4">
            <h4 class="mb-3">Otros Datos</h4>
            <div class="row">
              <div class="col">
                  <div class="form-group ">
                    <label  for="Direction">Direción

                    </label>

                      <input type="text" class="form-control" id="Direction" name="Direction" placeholder=" calle casa etc"
                        formControlName="Direction">

                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <div class="form-group">
                  <label>Observaciones</label>
                  <textarea class="form-control" rows="5" placeholder="Observaciones" formControlName="Observation"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                  <div class="form-group ">
                    <label  for="Observation">Observation

                    </label>

                      <input type="text" class="form-control" id="Observation" name="Observation" formControlName="Observation"
                        placeholder="alergias, condiciones, etc">

                  </div>
              </div>
              <div class="col">
                <div class="form-group ">
                  <label  for="Status">Estado
                    <span class="text-danger">*</span>
                  </label>

                    <select class="form-control" id="Status" name="Status" formControlName="Status">
                      <option value="">Please select</option>
                      <option value="1">Activo</option>
                      <option value="2">inactivo</option>
                    </select>

                </div>
              </div>
            </div>

              <div class="form-group row">
                <div class="col d-flex justify-content-end">
                  <button type="button" class="btn btn-primary" (click)="sendForm()">{{btnlabel}}</button>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<app-loader [showLoader]="showLoader"></app-loader>
