<div class="row page-titles mx-0">
  <div class="col-sm-6 p-md-0">
    <div class="welcome-text">
      <h4>Pagos</h4>
      <p class="mb-1">nuevo registro</p>
    </div>
  </div>
  <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
    <!-- <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)">Form</a></li>
      <li class="breadcrumb-item active"><a href="javascript:void(0)">Validation</a></li>
    </ol> -->
    <button *ngIf="viewType == 'edit'" (click)="deletePayment()" class="btn btn-danger btn-sl-sm mr-3"
      type="button"><span class="mr-2"><i class="fa fa-trash"></i></span>
      Eliminar</button>
    <button type="button" (click)="goBack()" class="btn btn-warning">{{'salir'}}</button>
  </div>
</div>

<form class="needs-validation" novalidate="" [formGroup]="formPayment">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Informacion de pago</h4>
        </div>
        <div class="card-body ">

          <div class="col-md-12 order-md-1">
            <!-- <h4 class="mb-3">Dirección de Envio</h4> -->

              <div class="mb-3">
                <label for="Student">Estudiante</label>
                <select class="custom-select d-block w-100" id="Student" required="" (change)="onChangeStudent()" formControlName="Student" >
                  <option value="" selected>Elegir...</option>
                  <option *ngFor="let student of studentsSelect" [value]="student.UUID" >{{student.Name}}</option>
                </select>
                <div class="invalid-feedback">
                  {{ validatorOfInput('Student') }}
                </div>
              </div>
              <hr class="mb-4">
              <h4 class="mb-3">Tipo de pago</h4>
              <div class="d-block my-3">
                <div class="custom-control custom-radio">
                  <input formControlName="PaymentType" id="levels" name="PaymentType" type="radio" class="custom-control-input"
                      value="1" (change)="onRadioChangeLevels($event)" required="">
                  <label class="custom-control-label" for="levels">Pago por niveles</label>
                </div>
                <div class="custom-control custom-radio">
                  <input formControlName="PaymentType" id="products" name="PaymentType" type="radio" class="custom-control-input"
                    value="2" (change)="onRadioChangeLevels($event)" required="">
                  <label class="custom-control-label" for="products">Otros</label>
                </div>
                <div class="invalid-feedback">
                  {{ validatorOfInput('PaymentType') }}
                </div>
              </div>
              <div class="mb-3"  >
                <label for="Student">Estatus</label>
                <select class="custom-select d-block w-100 disabled" id="Student" required="" formControlName="Status" >
                  <option value="" selected>Elegir...</option>
                  <option value="1">Pendiente</option>
                  <option value="2">Abonado</option>
                  <option value="3">Completado</option>
                </select>
                <div class="invalid-feedback">
                  {{ validatorOfInput('Status') }}
                </div>
              </div>
              <div class="mb-3">
                <label for="PaymentDate">Fecha de Pago <span class="text-muted">(Opcional)</span></label>
                <input type="date" class="form-control" id="PaymentDate" formControlName="PaymentDate" placeholder="dd/mm/yyyy">
              </div>

              <div class="mb-3" *ngIf="paymentType==1" >
                <label for="IdMonth">Mes a pagar</label>
                <select class="custom-select d-block w-100" id="IdMonth" required=""
                  formControlName="IdMonth">
                  <option value="0" selected>Elegir...</option>
                  <option *ngFor="let m of months" [value]="m.IdMonth">{{m.Name}}</option>
                </select>
                <div class="invalid-feedback">
                  {{ validatorOfInput('IdMonth') }}
                </div>
              </div>

              <hr class="mb-4">
              <h4 class="mb-3">Descripcion de pago</h4>
              <div class="row ml-2">
                <div *ngIf="paymentType==2" >
                  <div  class="custom-control custom-checkbox col-md-6 col-md-lg col-sm-12" *ngFor="let product of products" >
                      <input type="checkbox" class="custom-control-input" id="{{product.UUID}}"  (change)="onCheckChange($event,product)" [checked]="validateCheck(product)" >
                      <label class="custom-control-label" for="{{product.UUID}}">{{product.Name}}</label>
                  </div>
                </div>
                <div *ngIf="paymentType==1">
                  <div  class="custom-control custom-checkbox col-md-6 col-md-lg col-sm-12" *ngFor="let level of levels">
                    <input type="checkbox" class="custom-control-input" id="{{level.UUID}}" (change)="onCheckChangeLevels($event,level)"
                      [checked]="validateCheck(level)">
                    <label class="custom-control-label" for="{{level.UUID}}">{{level.Name}}</label>
                  </div>
                </div>
                <div class="invalid-feedback">
                  {{ validatorOfInput('Description') }}
                </div>
              </div>
              <hr class="mb-4">
              <h4 class="mb-3">Metodo de pago</h4>
              <div class="d-block my-3">
                <div class="custom-control custom-radio">
                  <input formControlName="PaymentMethod" id="credit" name="PaymentMethod" type="radio" class="custom-control-input" checked="" value="POS" (change)="onRadioChange($event)" required="">
                  <label class="custom-control-label" for="credit">Punto de venta</label>
                </div>
                <div class="custom-control custom-radio">
                  <input  formControlName="PaymentMethod" id="debit" name="PaymentMethod" type="radio" class="custom-control-input" value="cash" (change)="onRadioChange($event)" required="">
                  <label class="custom-control-label" for="debit">Efectivo</label>
                </div>
                <div class="custom-control custom-radio">
                  <input formControlName="PaymentMethod" id="movil" name="PaymentMethod" type="radio" class="custom-control-input"
                    value="electronic" (change)="onRadioChange($event)" required="">
                  <label class="custom-control-label" for="movil">Trasferencia / Pago movil</label>
                </div>
                <div class="invalid-feedback">
                {{ validatorOfInput('PaymentMethod') }}
                </div>
              </div>
              <div *ngIf="paymentMethod=='electronic'" class="row">
                <div class="col-md-12 mb-3">
                  <label for="cc-name">Referencia</label>
                  <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                  <small class="text-muted">Agregar referencia</small>
                  <div class="invalid-feedback">
                    reference is required
                  </div>
                </div>
              </div>


          </div>

        </div>
          <hr class="mb-4">
          <!-- <div class="form-group row">
            <div class="col d-flex justify-content-end">
              <button type="button" class="btn btn-primary" style="margin-right: 24px;" (click)="sendForm()"> {{btnlabel}}</button>
            </div>
          </div> -->
      </div>
    </div>

    <div class="col-md-4 col-lg-4 order-md-2 mb-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Detalle de pago</h4>
        </div>
        <div class="card-body ">
          <div class="paymentDetailContainer">
            <ul class="list-group mb-3">
              <li *ngFor="let item of paymentDetail" class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">{{item.Name}}</h6>
                  <small class="text-muted">{{item.Description}}</small>
                </div>
                <span class="text-muted">{{item.AmountString}}</span>
              </li>
              <li *ngIf="discount" class="list-group-item d-flex justify-content-between">
                <span>
                  <button type="button" (click)="deleteDiscount()" class="btn "><i class="fa fa-trash" style="color: red;"></i></button>
                  Descuento (USD)
                </span>
                <strong>${{discount}}</strong>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Total a pagar (USD)</span>
                <strong>${{totalUSD}}</strong>
              </li>
              <li *ngIf="pagoIncompleto && pendingAmount>0" class="list-group-item d-flex justify-content-between">
                <span>Resta pagar (USD)</span>
                <strong>-${{pendingAmount}}</strong>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Total (USD)</span>
                <div class="input-group">
                  <input type="number" min="0" class="form-control" (keyup)="checkTotalStatus($event)" formControlName="Amount"
                    placeholder="$0">
                  <!-- <div class="input-group-append">
                                        <button type="submit" class="btn btn-secondary">Redimir</button>
                                      </div> -->
                </div>
              </li>

            </ul>
          </div>
          <div class="input-group">
            <input type="number"  min="0" max="{{totalUSD}}" class="form-control" #discountInput placeholder="Descuento en USD">
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary" (click)="addDiscount()">Agregar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class=" col-lg-12">
        <div class="card mb-4">
          <div class="card-body">
            <div class="">
              <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-secondary" (click)="sendForm()">{{btnlabel}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>


<app-loader [showLoader]="showLoader"></app-loader>
